/**
  CSS Reset
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
  Generic style rules
*/
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}